.navlinks{
    background-color: #66a2ba;
    list-style: none;
    text-decoration: none;
    z-index: 6;
    height: 112%;
    width: 45vw;
    position: absolute;
}

.navlinks > li > a{
    text-decoration: none;
    color: black;
}

.navBar__menu{
    background-color: #66a2ba;
    padding: 1vh;
    display: flex;
    justify-content: space-between;
}

.openIcon{
    height: 50px;
    width: 50px;
    color: #2e4852;
    cursor: pointer;
}

.closeIcon{
    height: 50px;
    width: 50px;
    color: #2e4852;
    cursor: pointer;
}


.mobileNavigation__search{
    width: 100%;
}