.adminHome{
    height: 100vh;
    background-color: #ffffff73;
}


.adminHome__userListing{
    background-color: #3f7286;
    height: 15vh;
    margin: 1.5vh 4.5vw 1vh 4.5vw ;
    /* margin-left: 4.5vw;
    margin-right: 4.5vw;
    margin-top: 1.5vh;
    margin-bottom: 1vh; */
    padding: 1vh;
    border-radius: 10px;
    box-shadow: 2px 2px 2px gray;
    z-index: -1;
    display: flex;
    justify-content: space-between;

}

.adminHome__userListing > div > *{
    color: white;
    font-weight: 300;
    margin-top: 1vh;
}